body {
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;400;600;900&display=swap');

.h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.h2-headline {
  font-size: clamp(2.5rem, 6vw, 6rem);
    margin-bottom: 10px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: rgb(0, 255, 128);
    z-index: 99;
}

.h3-headline{
  font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: #67ffd4;
    z-index: 99;
}
