body {
  font-family: system-ui, sans-serif;
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap');

.h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
}

.h2-headline {
  font-size: clamp(3.5rem, 7vw, 8rem);
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  color: #bbffedbf;
}

.h3-headline{
  font-size: clamp(1.5rem, 5vw, 2rem);
  /* margin-top: -4px; */
  font-weight: 100;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  color: #adf7e3c6;
}