<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}
    <link rel="stylesheet" href="/index.css">
    <script src="/index.js" defer></script>
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
  
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">OVERVIEW PAGE</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    Deze footer staat op elke pagina
  </footer>
</body>
</html>
