body{
  padding: 0;
  margin: 0;
}
.game-news{
  margin: 0;
  padding: 0;

  width: 100dvw;
  flex-direction: column;
  display: flex;
  justify-content: start;
  height: 100dvh;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0% , rgba(0, 0, 0, 0)),
  radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 187, 0.357) 0%, rgba(0, 255, 187, 0.241) 67.31%, rgba(0, 255, 187, 0.114) 100%);
  background-color: rgb(0 10 53 / 38%);

  & > div{
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* align-items: start;
    justify-content: center; */
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 30%;
    gap: 2rem;

    & div{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      max-width: 810px;

      & p{
        font-size: 1.5rem;
        font-weight: 200;
        color: #ffffffc6;
        margin: 0;
        padding: 0;
        font-family: "Archivo", sans-serif;
        font-optical-sizing: auto;
      }
    }
  }
}

.game-news > img{
  position: absolute;
  z-index: -1;
  width: 100%;    
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
}

/* ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 100dvw;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;

  & li{
    background-color: aquamarine;
    width: 15rem;
    height: 15rem;
    scroll-snap-align: start;
  }
} */

.games-home{
display: flex;

& img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

& section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 300px;
  height: fit-content;
}    
}

header{
  width: 100%;
  display: flex;
  justify-content: center;

  & nav{
    width: fit-content;
    padding: 1em;
    background-color: #84848440;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: .5em;
  }

  & a{
    text-decoration: none;
    color: inherit;
    color: white;
    font-family: "Archivo", sans-serif;
    font-variant: uppercase;
    letter-spacing: .2em;
  }
}

.first_hero{
  width: 100dvw;
  height: 60dvh;
  background-color: red;
  padding: 5em;

  box-sizing: border-box;

  display: flex;
  justify-content: start;
  align-items: center;

  & h2{
    z-index: 1;
  }

  & img{
    position: absolute;
    z-index: 0;
    width: 100dvw;
    height: 60dvh;
    left: 0;
    z-index: 0;
    object-fit: cover;
  }
}


.news-section{
  width: 100dvw;
  height: fit-content;
  /* overflow-y: hidden; */
}

.slider{
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;

  & section{
  border-right: 1px solid white;
  padding: 0;
  min-width: 100vw;
  height: 100%;
  scroll-snap-align: start;
  text-align: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 30rem;
  }

  & img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }

  & h3{
    position: relative;
    color: white;
    /* font-size: 2rem;
    font-weight: 600;
    font-family: "Archivo", sans-serif;
    max-width: 30rem; */
    max-width: 50%;
    z-index: 1;
  }

  & h2{
    position: relative;
    /* font-size: 2rem;
    font-weight: 600;
    font-family: "Archivo", sans-serif;
    max-width: 30rem; */
    max-width: 50%;
    z-index: 1;
  }


}

@media screen and (min-width: 680px) { 

}

@media screen and (min-width: 1080px) { 
  .game-news{
    margin: 0;
    padding: 0;
  
    width: 100dvw;
    flex-direction: column;
    display: flex;
    justify-content: start;
    height: 100dvh;
  
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0% , rgba(0, 0, 0, 0)),
    radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 187, 0.357) 0%, rgba(0, 255, 187, 0.241) 67.31%, rgba(0, 255, 187, 0.114) 100%);
    background-color: rgb(0 10 53 / 38%);
  
    & > div{
      position: relative;
      display: flex;
      flex-direction: column;
      height: fit-content;
      /* align-items: start;
      justify-content: center; */
      padding-left: 5rem;
      padding-right: 10rem;
      gap: 2rem;
      padding-top: 30%;
  
      & div{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 1rem;  
    
  
        & p{
          font-size: 1.5rem;
          font-weight: 200;
          color: #ffffffc6;
          margin: 0;
          padding: 0;
          font-family: "Archivo", sans-serif;
          font-optical-sizing: auto;
        }
      }
    }
  }
  
  .game-news > img{
    position: absolute;
    z-index: -1;
    width: 100%;    
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
  }
}


/* ::view-transition-old(featured-game),
::view-transition-new(featured-game) {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
} */




#genre_item {
  view-transition-name: genre-word;
}

::view-transition-old(genre-word) {
  animation: slideDownOut 3s ease-in-out forwards;
  z-index: 1;
}

::view-transition-new(genre-word) {
  animation: slideDownIn 1s ease-in-out forwards;
  z-index: 2;
}

@keyframes slideDownOut {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(0%);
  }
}

@keyframes slideDownIn {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}