{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1 class="h1">{{ title }}</h1>

<ul class="grid">
  {% for item in items %}
    <li>
      <a href="/plant/{{ item.id }}">
        {% render 'server/components/card/card.liquid', item: item %}
      </a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
