{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1 class="h1">{{ title }}</h1>

<section class="games-home">
    {% for game in games %}
    <section>
      <a href="/game/{{ game.steam_appid }}">
      <p>{{ game.name }} </p>
      <img src="{{ game.screenshots[0].path_thumbnail }}" alt="">
      </a>
    </section>
  {% endfor %}
</section>

{% endblock %}
